@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Amatic+SC:wght@700&display=swap");
.head {
  flex-grow: 1;
  padding: 0rem+ 4rem;
  background-color: #45a158;
  max-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head__left {
  display: flex;
  align-items: center;
}

.head__left__logo {
  margin-left: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 1px;
  border-radius: 200%;
}

.head__left__moto {
  font-size: 28px;
  font-family: "Amatic SC", sans-serif;
  margin-left: 3rem;
}

.head__search {
  max-width: 300px;
  height: 35px;
  flex-grow: 1;
  border-radius: 10px;
  border-style: none;
  margin-right: 28rem;
}

.head__right {
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.head__right__nav {
  /* background-color: #780116; */
  font-family: "Alegreya Sans", sans-serif;
  padding: 14px;
  /* border: solid 1px rgb(156, 145, 145); */
  /* border-radius: 10px; */
  text-decoration: none;
  display: inline-block;
  color: black;
}

.head__right__nav:hover {
  /* background-color: #45a158; */

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: box-shadow 0.5s;
  /* transition: border-radius 1s; */
}

.shopping__cart {
  font-size: 20px;
}
